body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex; /* add this to center the body */
  justify-content: center; /* add this to center the body */
  align-items: center; /* add this to center the body */
  height: 100vh; /* add this to set the body height to 100% of the viewport */
}