/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #BADD8A; /* Verde claro */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFFFF; /* Branco */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
