@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
:root {
    --verde: #62A084;
    --verde-claro: #B6D2AA;
    --bege: #FFF8DD;
    --rosa: #FFC5C7;
    --verde-escuro: #255140;
    --azul: #addaff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, p, li {
    color: #255140;
}

body {
    font-family: "Comfortaa", sans-serif;
    color: var(--verde-escuro);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bege);
}



.dark-mode header {
    background-color: #444;
}

.dark-mode footer {
    background-color: #444;
}

.dark-mode-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.dark-mode-icon:hover {
    transform: scale(1.2);
}

.dark-mode p, h2 {
    color: #FFF8DD;
}


.dark-mode li {
    color: var(--verde-escuro);
}

.dark-mode h1, h2, h3, h4 {
    color: var(--bege);
}


#terms-modal p {
    color: #255140;
}

