/* Login.css */
.login-container {
    background-color: #badda8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .login-container h2 {
    color: #162040; /* Azul escuro */
    margin-bottom: 20px;
  }
  
  .login-container input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #A8C4A0; /* Verde mais escuro para borda */
    border-radius: 5px;
    width: calc(100% - 22px);
    max-width: 400px;
  }
  
  .login-container button {
    background-color: #162040; /* Azul escuro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .login-container button:hover {
    background-color: #0F1A2E; /* Azul mais escuro para hover */
  }
  
  .login-container button:last-child {
    background-color: #A8C4A0; /* Verde claro para o botão de visitante */
  }
  
  .login-container button:last-child:hover {
    background-color: #8BAA77; /* Verde mais escuro para hover */
  }
  
.buttons{
    display: flex;
    flex-direction: column;
    
}
  
/* Estilo para os ramos de folhinhas */
.leaf {
  position: absolute;
  opacity: 0.2; /* Deixa as folhas transparentes */
}

.leaf-top-left {
  top: 0;
  left: 0;
  width: 150px; /* Ajuste o tamanho das imagens conforme necessário */
  transform: rotate(180deg); /* Rotaciona a folha de cabeça para baixo */
}

.leaf-bottom-right {
  bottom: 0;
  right: 0;
  width: 150px;
}