.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #badda8; /* Um fundo sutil */
  text-align: center;
  position: relative;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  color: #333;
}

.subtitle {
  font-size: 1.5rem;
  color: #6b5f5f;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.btn-login,
.btn-guest {
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.button{
  background-color: #103c50;
}

.btn-login {
  background-color: #4CAF50;
  color: white;
}

.btn-guest {
  background-color: #008CBA;
  color: white;
}

.btn-login:hover {
  background-color: #45a049;
}

.btn-guest:hover {
  background-color: #007bb5;
}

/* Estilo para os ramos de folhinhas */
.leaf {
  position: absolute;
  opacity: 0.2; /* Deixa as folhas transparentes */
}

.leaf-top-left {
  top: 0;
  left: 0;
  width: 150px; /* Ajuste o tamanho das imagens conforme necessário */
  transform: rotate(180deg); /* Rotaciona a folha de cabeça para baixo */
}

.leaf-bottom-right {
  bottom: 0;
  right: 0;
  width: 150px;
}

